<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech-Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    {{!-- add header with nav for all pages (ADD CONDITIONAL SO IF LOGGED IN, DISPLAYS WELCOME MSG) --}}
    <header>
      <h1>Tech Blog</h1>
      <nav>
        <ul>
          <li><strong>Welcome</strong></li>
        </ul>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="/login">Sign up</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div class = "container">
    {{{body}}}
  </div>
</body>
</html>